<div class="jumbotron">
  <h1>Private Events</h1>
  <p>Welcom to the Private Events App!</p>
  <%= link_to 'Create Event', new_event_path, class: "btn btn-primary btn-lg" %>
</div>

<%= render 'shared/events_display' %>
