<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <h1><%= @user.name %></h1>
    <p>
      Welcome to your profile page <%= @user.name %>!
    </p>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <ol class="events">
      <% @user.created_events.each do |event| %>
        <li id="event-<%= event.id %>" class="well">
          <%= event.description %>
        </li>
      <% end %>
    </ol>

  </div>
</div>
